<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .ansi2html-content { display: inline; white-space: pre-wrap; word-wrap: break-word; }
        .body_foreground { color: #AAAAAA; }
        .body_background { background-color: #000000; }
        .body_foreground > .bold,.bold > .body_foreground, body.body_foreground > pre > .bold { color: #FFFFFF; font-weight: normal; }
        .inv_foreground { color: #000000; }
        .inv_background { background-color: #AAAAAA; }
        .ansi1 { font-weight: bold; }
        .ansi31 { color: #aa0000; }
        .ansi32 { color: #00aa00; }
        .ansi34 { color: #0000aa; }
        .ansi36 { color: #00aaaa; }
    </style>
</head>
    <body>
    <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%"  style="table-layout:fixed;border-collapse:separate;font-family: Roboto-Medium,Roboto,Verdana,sans-serif;">
        <tbody>
        <tr>
            <td align="center">
                <center style="width:100%">
                    <table border="0" cellspacing="0" cellpadding="0" width="800" bgcolor="#FFFFFF" role="presentation" style="background-color:#ffffff;margin:0 auto;max-width:712px;width:inherit;border: 1px solid #dddddd;padding:0;margin:auto;border-collapse:collapse;">
                        <tbody>
                        <tr style="background-color:#ffffff;">
                            <td style="padding: 16px 26px 16px;">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%!important;border-collapse:separate;min-width:100%!important;">
                                    <tbody>
                                    <tr>
                                        <!-- -->
                                        <td align="left" valign="middle">
                                            <a href="" style="color:#008cc9;display:inline-block;text-decoration:none" target="_blank">
                                                <img alt="Pulsar" border="0" src="https://drive.google.com/uc?id=1KxjEhTdGJOZlC66MRgQwTmi4Y7QDhvOl" width="55" height="55" style="outline:none;color:#ffffff;text-decoration:none">
                                            </a>
                                        </td>
                                        <!---->
                                        <td valign="middle" width="100%" align="right" style="padding:0 0 0 10px;padding-top:7px">
                                            <span style="word-wrap:break-word;color:#ffffff;word-break:break-word;font-weight:400;font-size:12px;line-height:2" class="imp_team"></span>
                                        </td>
                                        <td width="1">&nbsp;</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr bgcolor="#ffffff" style="background-color:#ffffff">
                            <td  style="border-bottom:1px solid #ececec">
                                <table border="0" cellpadding="0" cellspacing="0"  style="border-collapse:collapse;background-color:#ffffff;border-left:3px solid %%STATUS%%">
                                    <tbody class="bigquery_news_recap">
                                        <tr>
                                            <td style="font-family: Google Sans,Helvetica,Arial,sans-serif;font-size: 24px;font-weight: 700;line-height: 30px!important;margin-bottom: 24px;margin-top: 24px;padding: 0;word-wrap: normal;color:%%HEADER_COLOR%%;padding-top:13px;padding-bottom:12px;padding-left:42px;padding-right:42px;text-align:left">
                                                    %%DETAILS%%
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td bgcolor="#EDF0F3" style="background-color:#EDF0F3;border-bottom:1px solid #ececec">
                                <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%!important;border-collapse:separate;min-width:100%!important">
                                    <tbody class="bigquery_table_news">
                                        <tr>
                                            <td bgcolor="#ffffff" style="background-color:#ffffff">
                                                <div class="imp_table_name"></div>
                                                <table cellspacing="0" cellpadding="0" width="100%" style="padding:8px 24px;width:100%;border-collapse:separate">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:separate;">
                                                                <tbody>
                                                                <tr>
                                                                    <td align="left" style="padding-bottom:6px;text-align:left" class="imp_header">

                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:separate">
                                                                            <tbody>


                                                                            <tr>
                                                                                <td>
                                                                                    <div style="font-family:Roboto-Medium,Roboto,Verdana,sans-serif;font-size:16px;font-weight:normal;line-height:24px;padding-bottom:16px;padding-top:35px;width:100%;color:#3c3d3e;">
                                                                                        %%MESSAGE%%
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="800" style="width:800px">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table align="left" width="100%;" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td style="padding:30px 50px;color:#fff;font-size:12px">
                                                            <div>
                                                                <div style="font-family:Arial,Helvetica,sans-serif;text-transform:uppercase;color:#545454;">
                                                                    GCP Pulsar
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                             </td>
                        </tr>
                    </table>
                </center>
            </td>
        </tr>
        </tbody>
    </table>
    </body>
</html>